global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 10s
    timeout client  30m
    timeout server  30m

frontend mysql_front
    bind *:3306
    default_backend mysql_back

backend mysql_back
    mode tcp
    # Monitoreo de salud básico por puerto TCP
    server db-master db-central-master:3306 check inter 3s fall 2 rise 2 on-marked-down shutdown-sessions
    server db-replica db-central-replica:3306 check inter 3s fall 2 rise 2 backup on-marked-down shutdown-sessions
