global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 10s
    timeout client  30m
    timeout server  30m

frontend postgres_front
    bind *:5432
    default_backend postgres_back

backend postgres_back
    mode tcp
    # TCP check para verificar disponibilidad del puerto PostgreSQL
    server db-master db-nube-master:5432 check inter 3s fall 2 rise 2
    server db-replica db-nube-replica:5432 check inter 3s fall 2 rise 2 backup
