global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 10s
    timeout client  30m
    timeout server  30m

frontend pgsql_front
    bind *:5432
    default_backend pgsql_back

backend pgsql_back
    mode tcp
    # TCP healthcheck para verificar disponibilidad del servicio PostgreSQL
    server db-master db-local-master:5432 check inter 3s fall 2 rise 2 on-marked-down shutdown-sessions
    server db-replica db-local-replica:5432 check inter 3s fall 2 rise 2 backup on-marked-down shutdown-sessions
