global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 10s
    timeout client  30m
    timeout server  30m

frontend mariadb_front
    bind *:3306
    default_backend mariadb_back

backend mariadb_back
    mode tcp
    # TCP healthcheck para verificar disponibilidad del servicio MariaDB
    server db-master db-local-master:3306 check inter 3s fall 2 rise 2
    server db-replica db-local-replica:3306 check inter 3s fall 2 rise 2 backup
